{% extends 'base.html' %} 

{% block content %}

<body>
    <center>
    <h1 style= "font-family: Georgia, 'Times New Roman', Times, serif;">MAHASISWA PENDIDIKAN MATEMATIKA</h1>
    
    </center>
    <br>
    
    
    <center>
        <h3>Berikut data mahasiswa Pendidikan Matematika angkatan 2021 kelas A :</h3>
        <table border="1">
        <tr style="background-color: rgba(72, 86, 239, 0.883);">
            <th>No</th>
            <th>Nama</th>
            <th>NIM</th>
            <th>Tempat, Tanggal Lahir</th>
            <th>Email</th>
            <th>Foto</th>
        </tr>
        
            {% for mahasiswa in student %}
            <tr style="background-color: rgba(113, 149, 247, 0.568);">
                <td><center>{{mahasiswa.no}}</td></center>
                <td>{{mahasiswa.nama}}</td>
                <td>{{mahasiswa.nim}}</td>
                <td>{{mahasiswa.ttl}}</td>
                <td>{{mahasiswa.email}}</td>
                <td>
                    {% if mahasiswa.foto %}
                    <img src="{{ mahasiswa.foto.url }}" width="60px">
                    {% endif %}
                </td>
    
    
            </tr>
            {% endfor %}
        
        </table>
        </center>
        </body>

        <style>
            body {
              background-image: linear-gradient(to right, #2cb4b1, #478eff);
              margin-left: 50px;
              margin-right: 50px;
              padding: 0;
          }
          
          nav {
              top: 0;
              left: 0;
              position: fixed;
              height: 80px;
              width: 100%;
              box-sizing: border-box;
              background: rgba(0, 0, 0, 0.5);
              border-bottom: 1px solid white;
          }
          
          .logo {
              float: left;
              height: 10px;
              font-size: 36px;
              font-weight: bold;
              text-transform: uppercase;
              color: white;
              padding: 20px 20px;
              justify-content: space-around;
          }
          
          nav ul {
              margin: 0;
              padding: 0;
              float: right;
              list-style: none;
              display: flex;
          }
          
          nav ul li a {
              font-size: 15px;
              font-weight: bold;
              color: white;
              line-height: 80px;
              text-decoration: none;
              padding: 12px 30px;
          }
          nav ul li a:hover {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.8);
    }
    </style>
{% endblock %}


